<section class="footer">
	<div id="footer" class="row mx-auto text-center">
		<div class="col-4">
			Based in Mendon, MA
		</div>
		<div class="col-4">
			bodykneads @charter.net
		</div>
		<div class="col-4">
			<p>Copyright 2012 - <script>document.write(new Date().getFullYear());</script>  |  Design by <a href='http://tranzasoftware.com'>Tranza Software</a></p>
		</div>
	</div>
</section>
