#about
  color: white
  background-color: color-about
  padding-bottom: 3rem
  
#about h2
  font-size: 2.5rem
  text-transform: uppercase
  font-family: font-focus
  font-weight: 700
  line-height: 50px
  
#about .subtitle
  font-size: 1rem
  font-family: font-sans
  font-weight: 400
  
.about-focus
  font-size: 3.7rem
  font-weight: 300
  line-height: normal
  text-align: center !important
  margin-bottom: 3rem

@media mq-large
  .about-focus
    text-align: right !important
    
.about-item
  margin-left: auto !important
  width: 100%


.about-pct 
  display: block
  position: relative
  width: 65px
  height: 65px
  font-weight: bold
  font-size: 17px
  padding:12px
  margin: auto
  margin-bottom: 30px
  margin-bottom: 20px
  border: 5px solid #ececec
  border-radius: 50%
  -webkit-transition: all 0.2s ease-in-out
  transition: all 0.2s ease-in-out



.about-one
  border: 5px solid #e96656

.about-two
  border: 5px solid #34d293

.about-three
  border: 5px solid #3ab0e2

.about-four
  border: 5px solid #f7d861
  
