#footer
  background: color-about
  padding: 50px 0
  border-top: 1px solid color-border
  color: white
  font-size: .85rem
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  
.tranz-copyright
  font-size: 1rem