@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: mobile-nav-width
    height: 100%
    background: color-mobile-nav-background
    border-right: 1px solid #fff

@media mq-mobile
  .mobile-nav-link
    display: block
    color: color-grey
    text-decoration: none
    padding: 15px 20px
    font-weight: normal
    &:hover
      color: #fff

.navbar
  font-size: 1.3rem
  font-weight: 400
  background-color: white
  border-bottom: 1px solid grey
  
.top-info-panel
  background-color: color-mccall
  padding: 10px
  font-size: 1rem
  color: white 
  padding-left:50px 
  
.top-info-panel a
  color: white
  
.top-info-panel a:hover
  color: white
  text-decoration: none
  font-weight: 400
  
a.nav-link:hover
  font-weight: 700
  text-decoration: underline
