#human-massage, #animal-care, #clinics, #events
  width: 100%
  height: 100%
	
#human-massage
  background: url(/css/images/services/humanmassage.png) no-repeat center

#animal-care
  background: url(/css/images/services/horseicon.png) no-repeat center

#clinics
  background: url(/css/images/services/clinicicon.png) no-repeat center

#events
  background: url(/css/images/services/calendar53.png) no-repeat center

#services h2
  font-size: 2.5rem
  text-transform: uppercase
  font-family: font-focus
  font-weight: 700
  line-height: 50px
  
#services .subtitle
  font-size: 1rem
  font-family: font-sans
  font-weight: 400
  
.service-box .service-icon .pixeden
  border-radius: 50%

.services
  overflow: hidden
  padding-bottom: 100px
  background: #fff


.services .service-box
  text-align: center


.services .row .service-box,
.our-team .row .team-box
  display: inline-block
  float: none !important
  margin-right: -4px
  margin-bottom: 25px
  vertical-align: top


/* FOCUS BOX */
.service-box .service-icon
  display: block
  position: relative
  width: 145px
  height: 145px
  margin: auto
  margin-bottom: 30px
  margin-bottom: 20px
  border: 10px solid #ececec
  border-radius: 50%
  -webkit-transition: all 0.2s ease-in-out
  transition: all 0.2s ease-in-out

.about-head
  font-size: 1rem
  text-transform: uppercase
  font-family: font-focus
  font-weight: 700
  
.about-item p
  font-size: .9 rem
  
/* ON HOVER COLORED ROUNDED CIRCLE AROUND ICONS */
/* ON HOVER COLORED ROUNDED CIRCLE AROUND ICONS */
.red,
.green,
.blue,
.yellow
  -webkit-transition: all 0.2s ease-in-out
  transition: all 0.2s ease-in-out

#service-human-massage:hover,
#service-human-massage:focus
  border: 10px solid #e96656

#service-animal-care:hover,
#service-animal-care:focus
  border: 10px solid #34d293

#service-clinics:hover,
#service-clinics:focus
  border: 10px solid #3ab0e2

#service-events:hover,
#service-events:focus
  border: 10px solid #f7d861
  

#service span:nth-child(4n+1) .service-box .red-border-bottom:before
  background: #e96656

#service span:nth-child(4n+2) .service-box .red-border-bottom:before
  background: #34d293

#service span:nth-child(4n+3) .service-box .red-border-bottom:before
  background: #3ab0e2
  
#service span:nth-child(4n+4) .service-box .red-border-bottom:before
  background: #f7d861

.service-box h3
  display: inline-block
  float: none
  position: relative
  width: auto
  margin-bottom: 15px
  margin-bottom: 30px
  color: #404040
  background: none
  font-size: 17px
  font-weight: bold
  text-transform: uppercase

.service-box p
  color: #808080
  font-size: 14px

.pixeden
  display: block
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  height: 63px
  margin: auto

.red-border-bot
  left: 12.5%
  width: 75%
  height: 2px
  margin: auto
  background: #e96656

.red-border-bottom:before
  position: absolute
  z-index: 1
  bottom: -9px
  left: 12.5%
  width: 75%
  height: 2px
  margin: auto
  background: #e96656
  content: ""

