#testim
  color: black
  background-color: color-testimonial
  padding-bottom: 3rem
  
#testim h2
  font-size: 2.5rem
  text-transform: uppercase
  font-family: font-focus
  font-weight: 700
  line-height: 50px
  color: white
  
.testim-item
  padding: 1rem
  font-weight: 400
  margin: 10px
  
.testim-item .card
  padding: 20px

.fas
  font-size: 30px
  color: color-fa-quote
  
.font-weight-bold
  color: color-fa-quote
  
.testim-quote
  color: color-fa-quote
  font-size: 1.2rem
  
.testim-quote p
  color: black
  font-size: .9rem
  
.company
  font-size: 1rem  