
<%- partial('_partial/header') %>

<section class="main-body">
	<div class="container">
		<%- partial('_partial/services.ejs') %>
	</div>
</section>
<section>
	<%- partial('_partial/about.ejs') %>
</section>
<section>
	<%- partial('_partial/testimonial.ejs') %>
</section>

